#outer-circle{
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
    width: 520px;
    height: 520px;
    margin: auto;
    box-shadow: 15px 20px 50px 5px #888888;
    background-color: #EFEBE9;
}

#top-left{
    border: 5px solid white;
    height: 250px;
    width: 250px;
    background-color: #4CAF50;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 250px 0 0 0;
    -moz-border-radius: 250px 0 0 0;
    -webkit-border-radius: 250px 0 0 0;
    margin: -250px 0 0 -250px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#top-right{
    border: 5px solid white;
    height: 250px;
    width: 250px;
    background-color: #f44336;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 0 250px 0 0;
    -moz-border-radius: 0 250px 0 0;
    -webkit-border-radius: 0 250px 0 0;
    margin: -250px 0 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bottom-left{
    border: 5px solid white;
    height: 250px;
    width: 250px;
    background-color: #FFEB3B;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 0 0 0 250px;
    -moz-border-radius: 0 0 0 250px;
    -webkit-border-radius: 0 0 0 250px;
    margin: 0 0 0 -250px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bottom-right{
    border: 5px solid white;
    height: 250px;
    width: 250px;
    background-color: #2196F3;
    position: absolute;
    top:50%;
    left: 50%;
    border-radius: 0 0 250px 0;
    -moz-border-radius: 0 0 250px 0;
    -webkit-border-radius: 0 0 250px 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#inner-circle{
    border: 5px solid black;
    height: 250px;
    width: 250px;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 50%;
}

h3{
    position: absolute;
    top: 30px;
    left: 80px;
    font-family: Serpentine Sans, serif;
    font-weight: bold;
}

#controls{
    position: absolute;
    top: 50px;
    left: 10px;
}

#on{
    position: absolute;
    top: 50px;
    left: 1px;
    display: inline-block;
    background-color: #f44336;
    font-weight: bold;
    color: white;
}

#start{
    position: absolute;
    top: 50px;
    left: 59px;
    background-color: #4CAF50;
    font-weight: bold;
    color: white;
}

#strict{
    position: absolute;
    top: 50px;
    left: 138px;
    display: inline-block;
    background-color: #f44336;
    font-weight: bold;
    color: white;
}

#count{
    position: absolute;
    top: 160px;
    left: 70px;
    height: 50px;
    width: 100px;
    background-color: #4E342E;
    color: red;
    display: flex;
    align-item: center;
    justify-content: center;
    padding-top: 14px;
}